html, body {
    height: 100%;
    min-height: 100%;
}

body.login{
    background: rgb(152,33,165);
    background: -moz-linear-gradient(left, rgba(152,33,165,1) 0%, rgba(125,185,232,1) 100%);
    background: -webkit-linear-gradient(left, rgba(152,33,165,1) 0%,rgba(125,185,232,1) 100%);
    background: linear-gradient(to right, rgba(152,33,165,1) 0%,rgba(125,185,232,1) 100%);
    font-family: 'lato', sans-serif;
}

#login{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    .box-login{
        height: 350px;
        width: 400px;
        background-color: rgba(255,255,255,0.4);
        padding: 50px;
        .form-group{
            height: 50px;
            position: relative;
            &.button-login{
                text-align: center;
                margin-top: 50px;
                button{
                    cursor: pointer;
                    transition: ease .3s;
                    outline: none;
                    height: 45px;
                    width: 140px;
                    border-radius: 100px;
                    color: #FFF;
                    border: none;
                    background: -moz-linear-gradient(left, rgba(152,33,165,1) 0%, rgba(125,185,232,1) 100%);
                    background: -webkit-linear-gradient(left, rgba(152,33,165,1) 0%,rgba(125,185,232,1) 100%);
                    background: linear-gradient(to right, rgba(152,33,165,1) 0%,rgba(125,185,232,1) 100%);
                    &:hover{
                        box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
                    }
                }
            }
            label{
                left: 10px;
                position: absolute;
                bottom: 0;
                transition: all .3s ease-in-out;
                color: #FFF;
            }
            input{
                caret-color: #FFF;
                color: #FFF;
                z-index: 1;
                border: none;
                background-color: transparent;
                border-bottom: 2px solid #FFF;
                width: 100%;
                outline: none;
                position: absolute;
                bottom: 0;
                &:focus, &:valid{
                    &~label{
                        font-size: 12px;
                        bottom: 20px;
                        left: 0;
                    }
                }
            }
        }
    }
}